<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>ブログ</title>
	    <link rel="stylesheet" th:href="@{/css/style.css}">
	    <link rel="stylesheet" th:href="@{/css/blog.css}">
</head>
<body>

    <h1>ブログ</h1>
    <a th:href="@{/}">トップへ戻る</a>

    <div th:each="post : ${posts}">
        <h2>
            <a th:href="@{/blog/{id}(id=${post.id})}" th:text="${post.title}">タイトル</a>
        </h2>
        <p th:text="${#temporals.format(post.createdAt, 'yyyy/MM/dd')}">日付</p>
    </div>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/animations.js}"></script>

</body>
</html>